@font-face {
    font-family: orange-kid;
    src: url(../../fonts/orange-kid.ttf);
}
body{
    font-family: orange-kid;
    background-color:rgb(40, 40, 40);
    color: white;
    width: 390px;
    height: 100%;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 11px;
    overflow-x: hidden;
}

#gameTitle{
    color: rgb(190, 190, 190);
    font-size: 13px;
    float: right;
}
#gameTitle:hover{
    color: rgb(230, 230, 230);
    cursor: pointer;
}

#gameFeedback{
    color: rgb(158, 158, 158);
    font-size: 12px;
    margin-top: -12px;
    float: right;
}
#gameFeedback:hover{
    color: rgb(209, 209, 209);
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    z-index: 2;
    padding-top: 17px;
    left: 0;
    width: 100%;
    height: 110%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalTitle{
    font-size: 32px;
    color: rgb(180, 180, 180);
}
.modalDescription{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.modalContent {
    font-size: 16px;
    background-color: rgb(35,35,35);
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 65%;
}
.modalButtons{
    text-align: center;
}
.button {
    font-family: orange-kid;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.grayButton {background-color: #e7e7e7; color: black;}
.grayButton:hover{
    background-color: rgb(170, 170, 170);
}
.redButton {background-color: #f44336;}
.redButton:hover{
    background-color: rgb(170, 50, 50);
}
.greenButton {background-color: #36a32d;}
.greenButton:hover{
    background-color: rgb(24, 107, 24);
}

#tutorialAskModalTitle{
    font-size: 24px;
}
#tutorialAskModalDescription{
    font-size: 18px;
}

#tutorialModalTitle{
    color: rgb(255, 247, 179);
    font-size: 24px;
}
#tutorialModalDescription{
    font-size: 18px;
}

#randomTutorialModalTitle{
    color: rgb(255, 247, 179);
    font-size: 24px;
}
#randomTutorialModalDescription{
    font-size: 18px;
}

.section{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainInfo{
    font-size: 28px;

    margin-top: 20px;
    margin-bottom: 20px;

    color: gold;
}
.mainSubInfo{
    font-size: 19px;
    color:  rgb(228, 203, 91);
}
.subInfo{
    font-size: 19px;
    color:  rgb(235, 221, 163);
}

.subInfo:hover{
    cursor: pointer;
    color:  rgb(255, 226, 98);
}

#fusionRecipes{
    margin-top: 20px;
}
#settings{
    margin-top: 20px;
}

#iqCountContent{
    font-size: 36px;
    color: whitesmoke;
}
#iqpsContent{
    font-size: 22px;
    color: rgb(248, 248, 248);
}
#iqpsMultiplier{
    color: rgb(240, 210, 110);
    font-size: 16px;
    margin-left: 5px;
}
#powerContent{
    font-size: 22px;
    color: rgb(248, 248, 248);
}
#additionalPower{
    color: rgb(240, 210, 110);
    font-size: 16px;
    margin-left: 5px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#quickSettings{
    margin-top: 25px;
    margin-bottom: -5px;
    background-color: rgb(30, 30, 30);
    margin-left: -25px;
    margin-right: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#quickFilter{
    margin-top: 7px;
}
#encounterRate{
    margin-top: 5px;
}
#encounterRateContent{
    font-size: 20px;
    color: rgb(230, 230, 230);
}
#encounterRateMultiplier{
    color: rgb(240, 210, 110);
    font-size: 17px;
    margin-left: 5px;
}

#nextRankContent{
    font-size: 18px;
    color: rgb(200, 200, 200);
}

#settingsModalClose{
    margin-top: 20px;
}
#settingsModalOptions{
    margin-top: 20px;
    margin-bottom: 20px;
}

#encounterModeContent{
    margin-top: -18px;
    color: rgb(200, 200, 200);
}

#toggleSection{
    margin-top: 30px;
    margin-bottom: 1px;
}

.setting{
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgb(248, 215, 72);
}
.setting:hover{
    cursor: pointer;
    color: rgb(255, 245, 180);
}

#siteFiltersContent{
    font-size: 18px;
    color: rgb(200, 200, 200);
}
#siteFilterExample{
    color: rgb(200, 200, 200);
}
#siteFilterExampleSite{
    color: rgb(248, 235, 122);
}

#pepegaArmy{
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px;
    background-color: rgb(25, 25, 25);
}
#pepegaArmyTitle{
    color: gold;
}
#pepegaArmyTitle:hover{
    cursor: pointer;
    color: rgb(205, 165, 0);
}
#pepegaArmyCount{
    font-size: 16px;
    margin-top: 2px;
    color:rgb(200, 200, 200);
}
#pepegaArmyCountContent{
    font-size: 18px;
    color: rgb(230, 230, 230);
}
#pepegaArmyCountFull{
    font-size: 17px;
    color: rgb(255, 38, 38);
}
#power{
    margin-top: 5px;
}
#buyPepegaSlot{
    margin-top: 2px;
    font-size: 14px;
}
#buyPepegaSlotCost{
    font-size: 16px;
    text-decoration: underline;
}
#pepegaArmyContent{
    font-size: 14px;
    color:rgb(220, 220, 220);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#noPepegasMessage{
    font-size: 16px;
    color:rgb(170, 170, 170);
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}
.pepegaArmyRow{
    overflow: hidden;
}
.pepegaImage{
    width: 42px;
    height: 42px;
}
.pepega{
    margin-top: 10px;
}
.pepegaDisplay{
    width: 58px;
}
.releaseButton{
    float: right;
    cursor: pointer;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}
.releaseButton:hover{
    opacity: 0.8;
}
.healButton{
    float: right;
    cursor: pointer;
    width: 14px;
    height: 14px;
    right: 0px;
    top: 0px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}
.healButton:hover{
    opacity: 0.8;
}

.pepega{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.pepegaIq{
    font-size: 12px;
}
.pepegaIqContent{
    font-size: 16px;
    color: rgb(240, 240, 240);
}
.pepegaPower{
    font-size: 10px;
    margin-top: -4px;
}
.pepegaPowerContent{
    font-size: 16px;
    color: rgb(240, 240, 240);
}
.pepegaStar{
    width: 10px;
    height: 10px;
}
.pepegaOrigin{
    display: none;
}

textarea{
    border:1px solid #999999;
    width:100%;
    margin:5px -5px;
    padding:3px;
}
#siteFiltersModalTextArea{
    margin-top: 5px;
    margin-bottom: 15px;
}
#renameArmyInputBox{
    margin-top: 20px;
    margin-bottom: 20px;
}

#tutorialDisplay{
    color: rgb(184, 184, 184);
    font-size: 18px;
    margin-top: 20px;
}
#tutorialDisplayContent{
    color: rgb(228, 228, 228);
    margin-left: 3px;
}

#notificationsDisplay{
    margin-top: 18px;
    padding-bottom: 15px;
    font-size: 18px;
    
    color: rgb(184, 184, 184);
}
#notificationsDisplayContent{
    margin-left: 10px;
    margin-right: 10px;
}
#notificationsDisplayHeader{
    margin-top: 5px;
    font-size: 15px;
    
    color: rgb(197, 196, 125);
}
#notificationsDisplayMessage{
    margin-top: 0px;
    font-size: 14px;
    
    color: rgb(167, 165, 135);
}

#battleBreakdownSmallAlert{
    color: rgb(112, 106, 87);
    font-size: 14px;
    padding-top: 12px;
    margin-bottom: -12px;
    text-align: right;
    opacity: 0.8;
}
#battleBreakdownSmallAlert:hover{
    cursor: pointer;
    color: rgb(240, 207, 100);
    opacity: 1.0;
}

#battleBreakdownAlert{
    background-color: rgb(30, 30, 30);
    margin-left: -25px;
    margin-right: -25px;
    padding-top: 8px;
    padding-bottom: 7px;
    margin-top: -5px;
}
#battleBreakdownAlertShow{
    color: rgb(236, 203, 95);
    font-size: 16px;
    text-align: center;
    opacity: 0.8;
}
#battleBreakdownAlertShow:hover{
    cursor: pointer;
    color: rgb(255, 238, 181);
    opacity: 1.0;
}
.battleBreakdownAlertShowHighlight{
    font-weight: 120;
    font-size: 17px;
}
#battleBreakdownAlertHide{
    color: rgb(160, 159, 156);
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 3px;
    text-align: center;
    opacity: 0.8;
}
#battleBreakdownAlertHide:hover{
    cursor: pointer;
    color: rgb(207, 206, 203);
    opacity: 1.0;
}

.checkmarkContainer {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkmarkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}
.checkmarkContainer:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkmarkContainer input:checked ~ .checkmark {
    background-color: darkgoldenrod;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmarkContainer input:checked ~ .checkmark:after {
    display: block;
}
.checkmarkContainer .checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}